body{
  display: flex;
  justify-content: center;
}
.custom-button {
  padding: 20px 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: #e0e0e0;
}

.custom-button.warn {
  border-color: rgb(115, 39, 255);
  color: rgb(115, 39, 255);
}

.custom-button.hint {
  font-style: italic;
}
#root{
  display: flex;
  align-items: center;
  height: 500px;
}